// https://niri-wm.github.io/niri/Configuration:-Input

input {
    warp-mouse-to-focus mode="center-xy-always"
    // focus-follows-mouse

    keyboard {
        xkb {
            layout "us,us"
            variant ",intl"
            options "grp:alt_space_toggle, compose:caps"
        }
        numlock
        repeat-rate 32
        repeat-delay 250
    }

    touchpad {
        tap
        natural-scroll
        scroll-factor 0.5
    }

    mouse {
        scroll-factor horizontal=-1.0 vertical=1.0 // MxKeys
    }
}

cursor {
    hide-when-typing
}

gestures {
    hot-corners {
        off
    }
}
