/*
  Keys consist of modifiers separated by + signs, followed by an XKB key name
  in the end. To find an XKB name for a particular key, you may use a program
  like `wev`.

  "Mod" is a special modifier equal to Super when running on a TTY, and to Alt
  when running as a winit window.

  Most actions that you can bind here can also be invoked programmatically with
  `niri msg action do-something`.
*/

binds {
    /*
      Window management
    */

    Mod+w repeat=false { close-window; }

    Mod+o repeat=false { toggle-overview; }

    Mod+Semicolon repeat=false { focus-window-previous; }

    Mod+h repeat=false { focus-column-left; }
    Mod+l repeat=false { focus-column-right; }
    Mod+j repeat=false { focus-window-or-workspace-down; }
    Mod+k repeat=false { focus-window-or-workspace-up; }

    Mod+Shift+h repeat=false { move-column-left; }
    Mod+Shift+l repeat=false { move-column-right; }
    Mod+Shift+j repeat=false { move-column-to-workspace-down; }
    Mod+Shift+k repeat=false { move-column-to-workspace-up; }

    Mod+WheelScrollLeft cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollRight cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-window-or-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-window-or-workspace-up; }

    Mod+Shift+left repeat=false { consume-or-expel-window-left; }
    Mod+Shift+right repeat=false { consume-or-expel-window-right; }
    Mod+Shift+down repeat=false { move-window-down-or-to-workspace-down; }
    Mod+Shift+up repeat=false { move-window-up-or-to-workspace-up; }

    Mod+1 repeat=false { focus-workspace 1; }
    Mod+2 repeat=false { focus-workspace 2; }
    Mod+3 repeat=false { focus-workspace 3; }
    Mod+4 repeat=false { focus-workspace 4; }
    Mod+5 repeat=false { focus-workspace 5; }
    Mod+6 repeat=false { focus-workspace 6; }
    Mod+7 repeat=false { focus-workspace 7; }
    Mod+8 repeat=false { focus-workspace 8; }
    Mod+9 repeat=false { focus-workspace 9; }

    Mod+Shift+1 repeat=false { move-window-to-workspace 1; }
    Mod+Shift+2 repeat=false { move-window-to-workspace 2; }
    Mod+Shift+3 repeat=false { move-window-to-workspace 3; }
    Mod+Shift+4 repeat=false { move-window-to-workspace 4; }
    Mod+Shift+5 repeat=false { move-window-to-workspace 5; }
    Mod+Shift+6 repeat=false { move-window-to-workspace 6; }
    Mod+Shift+7 repeat=false { move-window-to-workspace 7; }
    Mod+Shift+8 repeat=false { move-window-to-workspace 8; }
    Mod+Shift+9 repeat=false { move-window-to-workspace 9; }

    Mod+Alt+j repeat=false { move-workspace-down; }
    Mod+Alt+k repeat=false { move-workspace-up; }

    Mod+Ctrl+h repeat=false { focus-monitor-left; }
    Mod+Ctrl+l repeat=false { focus-monitor-right; }
    Mod+Ctrl+j repeat=false { focus-monitor-down; }
    Mod+Ctrl+k repeat=false { focus-monitor-up; }

    Mod+Ctrl+Shift+h repeat=false { move-window-to-monitor-left; }
    Mod+Ctrl+Shift+l repeat=false { move-window-to-monitor-right; }
    Mod+Ctrl+Shift+j repeat=false { move-window-to-monitor-down; }
    Mod+Ctrl+Shift+k repeat=false { move-window-to-monitor-up; }

    Mod+Ctrl+Alt+h repeat=false { move-workspace-to-monitor-left; }
    Mod+Ctrl+Alt+l repeat=false { move-workspace-to-monitor-right; }
    Mod+Ctrl+Alt+j repeat=false { move-workspace-to-monitor-down; }
    Mod+Ctrl+Alt+k repeat=false { move-workspace-to-monitor-up; }

    Mod+t { toggle-column-tabbed-display; }

    // Sizing

    Mod+Left { set-column-width "-2%"; }
    Mod+Right { set-column-width "+2%"; }
    Mod+Down { set-window-height "-2%"; }
    Mod+Up { set-window-height "+2%"; }

    Mod+m repeat=false { maximize-column; }
    Mod+Shift+m repeat=false { maximize-window-to-edges; }

    Mod+f repeat=false { toggle-windowed-fullscreen; }

    Mod+c repeat=false { center-column; }

    Mod+v { toggle-window-floating; }
    Mod+Shift+v { switch-focus-between-floating-and-tiling; }

    /*
      Media and Programs
    */

    Mod+return hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+Space hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    // Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument. It's passed verbatim to `sh -c`.
    // For example, this is a standard bind to toggle the screen reader (orca).
    // Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // PipeWire & WirePlumber
    // Using spawn-sh allows to pass multiple arguments together with the command
    // "-l 0.0" limits the volume to 100%
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Playerctl (works with any MPRIS-enabled media player)
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    // Brightnessctl
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    /*
      Others
    */

    Mod+Shift+p { power-off-monitors; }

    Mod+Shift+e { quit; }

    Mod+Shift+slash { show-hotkey-overlay; }

    // Applications such as remote-desktop clients and software KVM switches
    // may request that niri stops processing the keyboard shortcuts defined
    // here so they may, for example, forward the key presses as-is to a remote
    // machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor, so a
    // buggy application can't hold your session hostage.
    // The allow-inhibiting=false property can be applied to other binds as
    // well, which ensures niri always processes them, even when an inhibitor
    // is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
