/*
  https://niri-wm.github.io/niri/Configuration%3A-Key-Bindings.html

  To find the XKB name for a particular key, use a program like wev.

  Most actions invoked here can also be called programmatically with
  `niri msg action do-something`.
*/

binds {
    Mod+w repeat=false { close-window; }

    Mod+o repeat=false { toggle-overview; }

    Mod+Semicolon repeat=false { focus-window-previous; }

    Mod+h { focus-column-left; }
    Mod+l { focus-column-right; }
    Mod+j { focus-window-or-workspace-down; }
    Mod+k { focus-window-or-workspace-up; }

    Mod+WheelScrollLeft cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollRight cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-window-or-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-window-or-workspace-up; }

    Mod+Shift+left { consume-or-expel-window-left; }
    Mod+Shift+right { consume-or-expel-window-right; }
    Mod+Shift+down { move-window-down-or-to-workspace-down; }
    Mod+Shift+up { move-window-up-or-to-workspace-up; }

    Mod+Shift+h { move-column-left; }
    Mod+Shift+l { move-column-right; }
    Mod+Shift+j { move-column-to-workspace-down; }
    Mod+Shift+k { move-column-to-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+Shift+1 { move-window-to-workspace 1; }
    Mod+Shift+2 { move-window-to-workspace 2; }
    Mod+Shift+3 { move-window-to-workspace 3; }
    Mod+Shift+4 { move-window-to-workspace 4; }
    Mod+Shift+5 { move-window-to-workspace 5; }
    Mod+Shift+6 { move-window-to-workspace 6; }
    Mod+Shift+7 { move-window-to-workspace 7; }
    Mod+Shift+8 { move-window-to-workspace 8; }
    Mod+Shift+9 { move-window-to-workspace 9; }

    Mod+Alt+j { move-workspace-down; }
    Mod+Alt+k { move-workspace-up; }

    Mod+Ctrl+h { focus-monitor-left; }
    Mod+Ctrl+l { focus-monitor-right; }
    Mod+Ctrl+j { focus-monitor-down; }
    Mod+Ctrl+k { focus-monitor-up; }

    Mod+Ctrl+Shift+h { move-column-to-monitor-left; }
    Mod+Ctrl+Shift+l { move-column-to-monitor-right; }
    Mod+Ctrl+Shift+j { move-column-to-monitor-down; }
    Mod+Ctrl+Shift+k { move-column-to-monitor-up; }

    Mod+Ctrl+Alt+h { move-workspace-to-monitor-left; }
    Mod+Ctrl+Alt+l { move-workspace-to-monitor-right; }
    Mod+Ctrl+Alt+j { move-workspace-to-monitor-down; }
    Mod+Ctrl+Alt+k { move-workspace-to-monitor-up; }

    Mod+Left { set-column-width "-1%"; }
    Mod+Right { set-column-width "+1%"; }
    Mod+Down { set-window-height "-1%"; }
    Mod+Up { set-window-height "+1%"; }

    Mod+m repeat=false repeat=false { maximize-column; }
    Mod+Shift+m repeat=false { maximize-window-to-edges; }

    Mod+f repeat=false { toggle-windowed-fullscreen; }

    Mod+c repeat=false { center-column; }

    Mod+v repeat=false { toggle-window-floating; }
    Mod+Shift+v repeat=false { switch-focus-between-floating-and-tiling; }

    Mod+t repeat=false { toggle-column-tabbed-display; }

    //

    Mod+return repeat=false hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+Space repeat=false hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    // Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    // Use spawn-sh to run a shell command. Do this if you need pipes, multiple commands, etc.
    // Note: the entire command goes as a single argument. It's passed verbatim to `sh -c`.
    // For example, this is a standard bind to toggle the screen reader (orca).
    // Super+Alt+S allow-when-locked=true hotkey-overlay-title=null { spawn-sh "pkill orca || exec orca"; }

    Print repeat=false { screenshot; }
    Ctrl+Print repeat=false { screenshot-screen; }
    Alt+Print repeat=false { screenshot-window; }

    // PipeWire & WirePlumber
    // Using spawn-sh allows to pass multiple arguments together with the command
    // "-l 0.0" limits the volume to 100%
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Playerctl (works with any MPRIS-enabled media player)
    XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }

    // Brightnessctl
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    //

    Mod+Shift+p repeat=false { power-off-monitors; }

    Mod+Shift+e repeat=false { quit; }

    Mod+Shift+slash repeat=false { show-hotkey-overlay; }

    // Applications such as remote-desktop clients and software KVM switches
    // may request that niri stops processing the keyboard shortcuts defined
    // here so they may, for example, forward the key presses as-is to a remote
    // machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor, so a
    // buggy application can't hold your session hostage.
    // The allow-inhibiting=false property can be applied to other binds as
    // well, which ensures niri always processes them, even when an inhibitor
    // is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}
