/*
  https://niri-wm.github.io/niri/Configuration:-Outputs

  Use `niri msg outputs` to check monitor names.

  Only required when setting multiple monitors. Output scale and rotation has
  to be taken into account for positioning. For example, a 3840×2160 output
  with scale 2.0 will have a logical size of 1920×1080, so to put another
  output directly adjacent to it on the right, set its x to 1920. If the
  position is unset or results in an overlap, the output is instead placed
  automatically.
*/

// XPS 13 (1280 x 800)
output "LVDS-1" {
    scale 1
    position x=0 y=0
    // backdrop-color "#1a1b26"
}

// Dell P2016 (1440 x 900)
output "DP-1" {
    // off
    scale 1
    // position x=-1280 y=0 // left
    // position x=1440 y=0 // right
    // position x=0 y=900 // down
    position x=-80 y=-900 // up
}
